.about-us {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 101px;
  display: flex;

  &__info {
    margin-left: 24px;

    &--heading {
      color: #2b2b2b;
      font-size: 56px;
      font-weight: 700;
      line-height: 37px;
      text-transform: uppercase;
      margin-top: 25px;
    }

    &--progress {
      color: #2b2b2b;
      font-size: 19px;
      font-weight: 400;
      line-height: 26px;
    }

    &--link {
      color: #ffc125;
      font-size: 19px;
      font-weight: 400;
      line-height: 26px;
      text-decoration-line: underline;

      &:hover {
        color: red;
      }
    }
  }
}
