.products {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 40px;
}

.toys {
  display: flex;

  &__left {
    position: relative;
    width: 732px;
    height: 482px;
    border-radius: 10px;
    background-color: #0af;

    &--prize {
      position: absolute;
      top: 86px;
      left: 16px;
    }

    &--offer {
      position: absolute;
      bottom: 35px;
      left: 17px;
      z-index: 1;
    }

    &--items {
      position: absolute;
      right: 0;
      width: 375px;
      height: 451px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-left: 29px;
  }

  .toys-girl {
    position: relative;
    width: 417px;
    height: 231px;
    border-radius: 10px;
    background-color: #ff0c7b;
    margin-bottom: 20px;

    &__heading {
      color: #fff;
      font-size: 38px;
      font-weight: 700;
      line-height: 42px;
      text-transform: uppercase;
      margin: 69px 0 0 38px;
    }

    &__collection {
      color: #fff;
      font-size: 16px;
      line-height: 42px;
      margin: 24px 0 0 40px;
    }

    &__image {
      position: absolute;
      right: 25px;
      top: 14px;
    }
  }

  .toys-boy {
    position: relative;
    width: 417px;
    height: 231px;
    border-radius: 10px;
    background-color: #00ca00;

    &__heading {
      @extend .toys-girl__heading;
    }

    &__collection {
      color: #fff;
      font-size: 16px;
      line-height: 42px;
      margin: 24px 0 0 40px;
    }

    &__image {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}
